.nav{
  display: flex;
  justify-content: space-around;
  align-content: center;
  position:fixed;
  align-items: center;
  height: 20px;
  background-color: cadetblue;
  top: 0;
  left: 0;
  width: 100%;
  cursor: pointer;
}
.element1{
  background-color: brown;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.element2{
  background-color: rgb(66, 142, 255);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.element3{
  background-color: rgb(255, 187, 84);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.element4{
  background-color: rgb(255, 60, 60);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}